{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mystyles.css' %}"> 
        <title>{% block titulo %}{% endblock %}</title>
    </head>
    <body>
        <div class="topnav">
            <a href="{% url 'principal' %}">Principal</a> |
            <a href="{% url 'horarios' %}">Horários Livres</a> |
            {% if user.is_authenticated and not user.is_staff %}
                <a href="{% url 'minhas_consultas' %}">Minhas Consultas</a> |
            {% endif %}
            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'consultas_marcadas' %}">Consultas Marcadas</a> |
            {% endif %}
            <a href="{% url 'medicos' %}">Médicos</a> |
            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'cadastrar_medico' %}">Cadastrar Médico</a> |
                <a href="{% url 'cadastrar_consulta' %}">Cadastrar Consulta</a> |
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'cadastro' %}">Cadastre-se</a>
            {% endif %}
        </div>
        {% block conteudo %}
        {% endblock %}
    </body>
</html>