{% extends "base.html" %}

{% block titulo %}
Consultorio - Detalhes da Consulta
{% endblock %}

{% block conteudo %}
    <div class="mycard">
        <h1>Trabalho de Conclusão de Curso</h1>
        <p><em>Médico:</em> {{ consulta.medico }} </p>
        <p><em>Data:</em> {{ consulta.data }}</p>
        <p><em>Horário:</em> {{ consulta.horario }}</p>
        <p><em>Plano de Saúde:</em> {{ consulta.plano }}</p>
    </div>

    <p><center>Volte para <a href="/consultas">Consultas</a></center></p>
{% endblock %}