{% extends "base.html" %}

{% block titulo %}
    Login
{% endblock %}

{% block conteudo %}
<div class="mycard">
<div class="login-container">
    <h1>Login</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nome de Usuário</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
</div>
</div>
{% endblock %}